/* CSS Document */

html {
    font-family: Baskerville, serif;
    color: #FFF
}

body {
    background-color: #000;
}

h1 {
    font-family: Impact, sans-serif;
    font-size: 3rem; /* 1 rem = 16px */
    font-weight: normal;
    color: #FF00FF
}

p, li {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

h1 + p {
    font-size: 1.5rem;
    line-height: 1.75rem;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

hr {
    border: solid 2px #FF00FF;
}

li {
    color: #FF00FF;
}

ol li:first-child {
    background-color: #000;
}

ol li:last-child {
    background-color: #F90;
}